:root {
    --gray-accent: rgb(112,128,144);
    --lavendergray-accent: rgb(185,185,205);
    --blurple-accent: rgb(128,149,255);
    --white-accent: rgb(255,255,255);
    --purple: rgb(97, 103, 137); 
}


.title {
    padding-top: 10vh;
    padding-bottom: 5vh;
    /* background: lavender; */
}

.title h1 {
    text-align: center;
}

/* Decorative */

.line {
    position: relative;
    border-bottom: 0.3rem var(--purple) solid;
    margin-left: 10vw;
    margin-right: 10vw;
    margin-bottom: .5rem;
    padding-top: .5rem;
}

li {
    text-align: left;
    padding-left: 5vw;
}
.banner {
    display: block;
    margin-top: 0px;
    margin-bottom: 0px;
    width: 100%;
    padding: 15px;
    height:5vh;
    text-align: center;
    background-color: var(--purple);
}

.banner h1 {
    color: white;
}